<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
    <add key="cnDemo" value="server=(local);database=demo;uid=sa;pwd=Manager2013"/>
  </appSettings>
  <connectionStrings>
    <add name="cnDemo" connectionString="server=(local);database=demo;uid=demo;pwd=demo"  />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>